package ${package}.mapper;

import ${package}.entity.${classNameUpFrist}DO;

import java.util.List;
import java.util.Map;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${classNameUpFrist}Dao extends BaseMapper<${classNameUpFrist}DO> {
}
