package ${package}.mapper;

import ${package}.entity.${classNameUpFirst}DO;

import java.util.List;
import java.util.Map;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Delete;
import org.apache.ibatis.annotations.Insert;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Select;
import org.apache.ibatis.annotations.Update;
/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${classNameUpFirst}Mapper extends BaseMapper<${classNameUpFirst}DO> {

	@Select("select #foreach($column in $columns)
`$column.columnName`#if($velocityCount != $columns.size()), #end	
#end from ${tableName} where ${priKeyColumn.columnName} = #{id}")
	${classNameUpFirst}DO get(${priKeyColumn.javaType} ${priKeyColumn.attrName});
	
	@Select("<script>" +
	"select * from ${tableName} " + 
			"<where>" + 
		  #foreach($column in $columns)
		  "<if test=\"$column.attrName != null and $column.attrName.trim() != ''\">"+ "and $column.columnName = #{$column.attrName} " + "</if>" +
		  #end
			"</where>"+ 
			" <choose>" + 
	            "<when test=\"sort != null and sort.trim() != ''\">" + 
	                "order by ${sort} ${order}" + 
	            "</when>" + 
				"<otherwise>" + 
	                "order by ${priKeyColumn.columnName} desc" +
				"</otherwise>" + 
	        "</choose>"+
			"<if test=\"offset != null and limit != null\">"+
			"limit #{offset}, #{limit}" + 
			"</if>"+
			"</script>")
	List<${classNameUpFirst}DO> list(Map<String,Object> map);
	
	@Select("<script>" +
	"select count(*) from ${tableName} " + 
			"<where>" + 
		  #foreach($column in $columns)
		  "<if test=\"$column.attrName != null and $column.attrName.trim() != ''\">"+ "and $column.columnName = #{$column.attrName} " + "</if>" +
		  #end
			"</where>"+ 
			"</script>")
	int count(Map<String,Object> map);
	
	@Insert("insert into ${tableName} (#foreach($column in $columns)
#if($column.columnName != $priKeyColumn.columnName || $priKeyColumn.extra != 'auto_increment')
`$column.columnName`#if($velocityCount != $columns.size()), #end
#end			
#end)"
	+ "values (#foreach($column in $columns)
#if($column.columnName != $priKeyColumn.columnName || $priKeyColumn.extra != 'auto_increment')
#{$column.attrName}#if($velocityCount != $columns.size()), #end
#end			
#end)")
	int save(${classNameUpFirst}DO ${className});

    int saveSelective(${classNameUpFirst}DO ${className});
	
	@Update("<script>"+ 
			"update ${tableName} " + 
					"<set>" + 
		  #foreach($column in $columns)
          "<if test=\"$column.attrName != null\">`$column.columnName` = #{$column.attrName}, </if>" +
          #end
					"</set>" + 
					"where ${priKeyColumn.columnName} = #{${priKeyColumn.attrName}}"+
			"</script>")
	int update(${classNameUpFirst}DO ${className});
	
	@Delete("delete from ${tableName} where ${priKeyColumn.columnName} =#{${priKeyColumn.attrName}}")
	int remove(${priKeyColumn.javaType} ${priKeyColumn.columnName});
	
	@Delete("<script>"+ 
			"delete from ${tableName} where ${priKeyColumn.columnName} in " +
					"<foreach item=\"${priKeyColumn.attrName}\" collection=\"array\" open=\"(\" separator=\",\" close=\")\">" +
						"#{${priKeyColumn.attrName}}" +
					"</foreach>"+
			"</script>")
	int batchRemove(${priKeyColumn.javaType}[] ${priKeyColumn.attrName}s);
}
