package ${package}.services;

import ${package}.entity.${classNameUpFrist}DO;

import java.util.List;
import java.util.Map;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public class ${classNameUpFrist}Service {

}
