package ${package}.services;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import java.util.List;
import java.util.Map;
import ${package}.mapper.${classNameUpFirst}Mapper;
import ${package}.entity.${classNameUpFirst}DO;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service
public class ${classNameUpFirst}Service {
	@Autowired
	private ${classNameUpFirst}Mapper ${className}Mapper;

	public ${classNameUpFirst}DO get(${priKeyColumn.javaType} ${priKeyColumn.attrName}){
		return ${className}Mapper.get(${priKeyColumn.attrName});
	}

	public List<${classNameUpFirst}DO> list(Map<String, Object> map){
		return ${className}Mapper.list(map);
	}

	public int count(Map<String, Object> map){
		return ${className}Mapper.count(map);
	}

	public int save(${classNameUpFirst}DO ${className}){
		return ${className}Mapper.save(${className});
	}

	public int update(${classNameUpFirst}DO ${className}){
		return ${className}Mapper.update(${className});
	}

	public int remove(${priKeyColumn.javaType} ${priKeyColumn.attrName}){
		return ${className}Mapper.remove(${priKeyColumn.attrName});
	}

	public int batchRemove(${priKeyColumn.javaType}[] ${priKeyColumn.attrName}s){
		return ${className}Mapper.batchRemove(${priKeyColumn.attrName}s);
	}
}
