package ${package}.services;

import ${package}.entity.${classNameUpFrist}DO;
import org.springframework.stereotype.Service
import java.util.List;
import java.util.Map;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service
public class ${classNameUpFrist}Service {

}
